$base-font-size: 20px;
$bfs: $base-font-size;

.mobile{

  display:none;
}

div.menu {

  .close {

    padding: em(65px, $bfs) 0 em(10px, $bfs) 0;

    button{
      height:em(50px, $bfs);
      width:em(100px, $bfs);
    }



  }



  ul{
    width: em(330px, $bfs)

  }

  li {
    margin-top: em(10px, $bfs)

  }

  .social span{
    width:em(100px, $bfs);
    height:em(100px, $bfs);
    margin:0 em(5px, $bfs);
    font-size:em(22px, $bfs);
    line-height:em(20px, $bfs);

    a {
        top:em(43px, $bfs);
        font-size:0.85em;
        letter-spacing: 0.05em;

      &:hover, &:active {
        font-size:1em;

      }
    }



  }

  .social .icon {

    background-size: 40% 40%;

  }

  .fonts{

    margin-left:em(5px, $bfs);
    width: em(320px, $bfs);


    button{
      width: 33%;
      height:em(75px, $bfs);


      &.plus{
        background-size: em(25px, $bfs) auto ;

      }

      &.minus{
        background-size:  em(25px, $bfs) auto ;

      }

      &.text{
        background-size:  em(24px, $bfs) auto ;
        width: 34%;

      }

    }
  }

  .note {
    margin-top:em(10px, $bfs);


    p{

      font-size: em(16px, $bfs);
    }

  }


}


/*------------- Screen Div -----------------*/

.screen{



  p{
      margin-top:15%;
      font-size:em(36px, $bfs);
      line-height:em(52px, $bfs);
      padding: 0 15%;
  }

  ul{
    margin-top:15%;
    padding: 0 15%;

    li{
      font-size:em(36px, $bfs);
      line-height:em(52px, $bfs);

    }
  }

  &.info div{

    margin-top:15%;
    padding: em(36px, $bfs) em(92px, $bfs);


    p {

      font-size:em(36px, $bfs);
      line-height:em(42px, $bfs);
      margin-top:em(18px, $bfs);


      &:first-child {

        margin-top:0;
      }


    }


  }

}

/*------------- navigation options -----------------*/

.menu-button {

  height:em(51px, $bfs);
  width: em(45px, $bfs);
  background-image: url("../images/icon_menu.svg ");
  top: 5%;
  margin-left:- em(23px, $bfs);



  &:hover,  &:active{
    background-image: url("../images/icon_menu_hover.svg ");

  }

}

.pagination {
  width: em(310px, $bfs);
  height: em(45px, $bfs);
  bottom:10%;
  margin-left: - em(155px, $bfs);

  button{
    width: em(36px, $bfs);
    height: em(44px, $bfs);

  }

}