
*{

  border:0;
  outline:0;
  margin:0;
  padding:0;
  font-family: 'tk-arno-pro'; //400,600
}

$screen: "only screen"; /* Define mobile styles */

$retina: "(-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx)";

$smallMax:"(max-width: 40em)"; /* max-width 640px, mobile-only styles, use when QAing mobile issues */

$mediumMin: "(min-width: 40.063em)";  /* min-width 641px, medium screens */

$mediumMax: "(max-width: 64em)"; /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

$largeMin:"(min-width: 64.063em)"; /* min-width 1025px, large screens */

$largeMax: "(max-width: 90em)"; /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

$xLargeMin: "(min-width: 90.063em)"; /* min-width 1441px, xlarge screens */

$xLargeMax: "(max-width: 120em)"; /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

$xxLargeMin: "(min-width: 120.063em)"; /* min-width 1921px, xxlarge screens */

$xxLargeMin: "(min-width: 120.063em)"; /* min-width 1921px, xxlarge screens */

$xxLargeMax: "(max-width: 2560px)"; /* min-width 1921px, xxlarge screens */

// Small screens
@media #{$screen} {

  body{font-size:20px;}

}

// Small screens only

@media #{$screen} and #{$smallMax} {

  body{font-size:20px;}

}



// Medium screens
@media #{$screen} and #{$mediumMin} {

  body{font-size:20px;}
}

// Medium screens only

@media #{$screen} and #{$mediumMin} and #{$mediumMax} {

  body{font-size:20px;}

}

// Large screens
@media #{$screen} and #{$largeMin} {
    body{font-size:16px;}
}

// Large screens only

@media #{$screen} and #{$largeMin} and #{$largeMax} {
  body{font-size:16px;}
}

// XLarge screens
@media #{$screen} and #{$xLargeMin} {
  body{font-size:18px;}
}

// XLarge screens only

@media #{$screen} and #{$xLargeMin} and #{$xLargeMax} {
  body{font-size:18px;}
}

// XXLarge screens
@media #{$screen} and #{$xxLargeMin} {
  body{font-size:24px;}
}

// Retina
@media #{$screen} and #{$retina}{
  body{font-size:22px;}
}

// kindle fire hd


@media #{$screen} and (min-width: 1600px) and (max-width: 2560px){
  body{font-size:44px;}
}




img {

  display:block;
  margin:0 auto;
  width:80%;
  max-width: 50rem;
}

h2{

  font-size:1.2em;
  margin:2em auto 0 auto;
  color:#000;
  width:80%;
  max-width: 45rem;
  font-weight:600;
  display:block;
}

p{

  font-size:1em;
  margin:1em auto 0 auto;
  width:80%;
  line-height:1.4em;
  color:#333;
  text-align: justify;
  max-width: 45rem;
  font-weight:400;
  display:block;

}

sup{
  line-height:1em;
}

ul{

  list-style-position: inside;
  max-width: 45rem;
  font-size:1em;
  margin:1em auto 0 auto;
  width:80%;
  line-height:1.4em;

  li{
    color:#333;
    font-weight:400;
  }

}

.banner {

  background-color: #ed1c24;
  text-align: center;
  padding:1.2rem;
  margin-top:2rem;

  h3{

    color:#fff;
    font-weight:600;
    font-size:2em;
  }

}

.social {
  padding-bottom:1rem;
  h3 {
    background-color: #26cbff;
    text-align: center;
    padding:1.2rem;
    color:#fff;
    font-weight:600;
    font-size:2em;
    margin-top:1rem;

  }

  > div {
    text-align: center;
    padding-top:1rem;
  }
}

footer {
  background-color:#000;
  padding:1rem;
  text-align:right;

  p {

    color:#fff;
    font-size:1em;
    margin:0;
    line-height:inherit;
    width:auto;
    max-width: inherit;
    text-align: center;
  }

}