<div class="menu" ng-class="{show: menuDisplay}" hm-swipeup="hideMenu()">
    <div class="close desktop">
        <button type="button" ng-click="hideMenu()">Close Menu</button>
    </div>
    <ul>
        <li class="social facebook">
            <span class="icon">&nbsp;</span>
            <span><a href="https://www.facebook.com/sharer/sharer.php?u=http%3a%2f%2fthebookof.life" target="_blank">Like</a></span>
            <span><a href="https://www.facebook.com/bookofdotlife" target="_blank">Follow</a></span>
        </li>
        <li class="social twitter">
            <span class="icon">&nbsp;</span>
            <span><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fthebookof.life&text=The%20Book%20of%20Life" target="_blank">Like</a></span>
            <span><a href="https://twitter.com/bookofdotlife" target="_blank">Follow</a></span>
        </li>
        <li class="social google">
            <span class="icon">&nbsp;</span>
            <span><a href="https://plus.google.com/share?url=http%3A%2F%2Fthebookof.life" target="_blank">Like</a></span>
            <span><a href="https://plus.google.com/+ThebookofLife-eBook/" target="_blank">Follow</a></span>
        </li>
        <li class="fonts">
            <button type="button" class="minus" ng-click="decreaseFont()">Decrease Fonts</button>
            <button type="button" class="text" ng-click="fullBook()">Full Text View</button>
            <button type="button" class="plus" ng-click="increaseFont()">Increase Fonts</button>
        </li>
    </ul>
    <!--
    <div class="note">
        <p>Please use your browser to bookmark your page</p>
    </div>

    -->
</div>


<div ui-view></div>