<div class="menu" ng-class="{show: vm.menuDisplay.state}" hm-swipeup="vm.displayMenu(false)">
    <div class="close desktop">
        <button type="button" ng-click="vm.displayMenu(false)">Close Menu</button>
    </div>
    <ul>
        <li class="social facebook">
            <span class="icon">&nbsp;</span>
            <span><a href="https://www.facebook.com/" target="_blank">Like</a></span>
            <span><a href="https://www.facebook.com/" target="_blank">Follow</a></span>
        </li>
        <li class="social twitter">
            <span class="icon">&nbsp;</span>
            <span><a href="https://twitter.com/" target="_blank">Like</a></span>
            <span><a href="https://twitter.com/" target="_blank">Follow</a></span>
        </li>
        <li class="social google">
            <span class="icon">&nbsp;</span>
            <span><a href="https://plus.google.com/" target="_blank">Like</a></span>
            <span><a href="https://plus.google.com/" target="_blank">Follow</a></span>
        </li>
        <li class="fonts">
            <button type="button" class="minus" ng-click="vm.adjustFont('decrease')">Decrease Fonts</button>
            <button type="button" class="text" ng-click="vm.fullBook()">Full Text View</button>
            <button type="button" class="plus" ng-click="vm.adjustFont('increase')">Increase Fonts</button>
        </li>
    </ul>
    <!--
    <div class="note">
        <p>Please use your browser to bookmark your page</p>
    </div>

    -->
</div>


<div ui-view></div>