
<button class="menu-button desktop" ng-click="vm.test()">Menu</button>


    <div class="screen" ng-repeat="screen in vm.activeScreens.data"  ng-init="screenIndex = $index"  hm-swipedown="vm.test()" hm-swipeleft="vm.updateDisplay(vm.nextScreen.data)" hm-swiperight="vm.updateDisplay(vm.prevScreen.data)" hm-pressup="vm.pressScreen()" hm-rotate="vm.resetDisplay()" ng-class="{ 'image' : screen.type == 'image', 'info' : screen.type == 'info', 'active' :   screenIndex == (vm.activeScreen.data -1), 'left' :  screenIndex < (vm.activeScreen.data -1), 'right' :   screenIndex > (vm.activeScreen.data -1)}" ng-bind-html="vm.trustHtml(screen.screen)" hm-tap="vm.updateDisplay(vm.nextScreen.data)" >

    </div>


<div class="pagination desktop">
    <button class="prev" ng-click="vm.updateDisplay(vm.prevScreen.data)">Previous</button>
    <button class="next" ng-click="vm.updateDisplay(vm.nextScreen.data)">Next</button>
</div>